annotated-types==0.7.0
anyio==4.8.0
APScheduler==3.11.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
confluent-kafka==2.8.0
contourpy==1.3.1
cycler==0.12.1
DateTime==5.5
decorator==5.1.1
dill==0.3.9
dna==0.0.1
fastapi==0.115.8
filelock==3.17.0
flake8==7.1.2
fonttools==4.56.0
fsspec==2025.2.0
huggingface-hub==0.28.1
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
kiwisolver==1.4.8
loguru==0.7.3
MarkupSafe==3.0.2
matplotlib==3.10.0
mccabe==0.7.0
modules==1.0.0
mpmath==1.3.0
mypy==1.15.0
mypy-extensions==1.0.0
networkx==3.4.2
numpy==2.2.3
packaging==24.2
pbr==6.1.1
pillow==11.1.0
pluggy==1.5.0
prometheus_client==0.21.1
psutil==7.0.0
pycodestyle==2.12.1
pydantic==2.10.6
pydantic_core==2.27.2
pyflakes==3.2.0
pyparsing==3.2.1
pytest==8.3.4
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
qiskit==1.3.2
qiskit-aer==0.16.4
regex==2024.11.6
requests==2.32.3
rustworkx==0.16.0
safetensors==0.5.2
scipy==1.15.1
self==2020.12.3
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
starlette==0.45.3
stevedore==5.4.0
symengine==0.13.0
sympy==1.13.1
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.48.3
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3
urllib3==2.3.0
win32_setctime==1.2.0
zope.interface==7.2
typing~=3.7.4.3
utils~=1.0.2
pytest-benchmark==3.4.1
memory-profiler==0.61.0
#prometheus-client==0.20.0
#grafana-dashboard-generator==1.6.2
py==1.11.0
biopython==1.85
scipy==1.15.1
execute~=1.2
